In [200]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

In [201]:
# Create Engine for basketball data
#basketball_database_path = "..///basketball.sqlite"
engine = create_engine("sqlite:///basketball.sqlite")
conn = engine.connect()

In [202]:
# Query All Records in the the Census Table
basketball_data = pd.read_sql("SELECT * FROM Draft", conn)
basketball_data

,yearDraft,numberPickOverall,numberRound,numberRoundPick,namePlayer,slugTeam,nameOrganizationFrom,typeOrganizationFrom,idPlayer,idTeam,nameTeam,cityTeam,teamName,PLAYER_PROFILE_FLAG,slugOrganizationTypeFrom,locationOrganizationFrom
0,2020.0,1.0,1.0,1.0,Anthony Edwards,MIN,Georgia,College/University,1630162.0,1.610613e+09,Minnesota Timberwolves,Minnesota,Timberwolves,1.0,COL,None
1,2020.0,2.0,1.0,2.0,James Wiseman,GSW,Memphis,College/University,1630164.0,1.610613e+09,Golden State Warriors,Golden State,Warriors,1.0,COL,None
2,2020.0,3.0,1.0,3.0,LaMelo Ball,CHA,Illawarra,Other Team/Club,1630163.0,1.610613e+09,Charlotte Hornets,Charlotte,Hornets,1.0,PRO,Australia
3,2020.0,4.0,1.0,4.0,Patrick Williams,CHI,Florida State,College/University,1630172.0,1.610613e+09,Chicago Bulls,Chicago,Bulls,1.0,COL,None
4,2020.0,5.0,1.0,5.0,Isaac Okoro,CLE,Auburn,College/University,1630171.0,1.610613e+09,Cleveland Cavaliers,Cleveland,Cavaliers,1.0,COL,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7885,1949.0,6.0,1.0,6.0,Ron Livingstone,BAL,Wyoming,College/University,77392.0,1.610610e+09,Baltimore Bullets,Baltimore,Bullets,1.0,COL,None
7886,1949.0,7.0,1.0,7.0,Dick McGuire,NYK,St. John's (NY),College/University,77537.0,1.610613e+09,New York Knicks,New York,Knicks,1.0,COL,None
7887,1949.0,8.0,1.0,8.0,Wallace Jones,WAS,Kentucky,College/University,77199.0,1.610610e+09,Washington Capitols,Washington,Capitols,1.0,COL,None
7888,1949.0,9.0,1.0,9.0,Jack Kerris,CHS,Loyola-Chicago,College/University,77249.0,1.610610e+09,Chicago Stags,Chicago,Stags,1.0,COL,None
7889,1949.0,10.0,1.0,10.0,Frank Saul,ROC,Seton Hall,College/University,78063.0,1.610613e+09,Rochester Royals,Rochester,Royals,1.0,COL,None

In [203]:
draft_cols = ["yearDraft", "numberPickOverall", "namePlayer"]
draft_transformed= basketball_data[draft_cols].copy()

# Rename the column headers
draft_transformed = draft_transformed.rename(columns={"namePlayer": "full_name", "yearDraft": "draft_year",
                                                          "numberPickOverall": "pick_overall"})

# Clean the data by dropping duplicates and setting the index
#draft_transformed.drop_duplicates("full_name", inplace=True)
#draft_transformed.set_index("full_name", inplace=True)

draft_transformed.head()

   draft_year  pick_overall         full_name
0      2020.0           1.0   Anthony Edwards
1      2020.0           2.0     James Wiseman
2      2020.0           3.0       LaMelo Ball
3      2020.0           4.0  Patrick Williams
4      2020.0           5.0       Isaac Okoro

In [204]:
basketball_data = pd.read_sql("SELECT * FROM Player_Salary", conn)
basketball_data

,slugSeason,nameTeam,namePlayer,statusPlayer,isFinalSeason,isWaived,isOnRoster,isNonGuaranteed,isTeamOption,isPlayerOption,typeContractDetail,value
0,2020-21,Atlanta Hawks,Bogdan Bogdanovic,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
1,2021-22,Atlanta Hawks,Bogdan Bogdanovic,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
2,2022-23,Atlanta Hawks,Bogdan Bogdanovic,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
3,2023-24,Atlanta Hawks,Bogdan Bogdanovic,current roster,1,0,1,0,0,1,Player Option,18000000.0
4,2020-21,Atlanta Hawks,Brandon Goodwin,current roster,0,0,1,0,0,0,Guaranteed,1701593.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1287,2020-21,Washington Wizards,Russell Westbrook,current roster,0,0,1,0,0,0,Guaranteed,41358814.0
1288,2021-22,Washington Wizards,Russell Westbrook,current roster,0,0,1,0,0,0,Guaranteed,44211146.0
1289,2022-23,Washington Wizards,Russell Westbrook,current roster,1,0,1,0,0,1,Player Option,47063478.0
1290,2020-21,Washington Wizards,Thomas Bryant,current roster,0,0,1,0,0,0,Guaranteed,8333333.0
1291,2021-22,Washington Wizards,Thomas Bryant,current roster,1,0,1,0,0,0,Guaranteed,8666667.0

In [205]:
salary_cols = ["nameTeam", "namePlayer","value"]
salary_transformed= basketball_data[salary_cols].copy()

# Rename the column headers
salary_transformed = salary_transformed.rename(columns={"nameTeam": "team_name",
                                                          "namePlayer": "full_name",
                                                       "value": "salary"})
salary_transformed.set_index("full_name", inplace=True)
salary_transformed.head()

                       team_name      salary
full_name
Bogdan Bogdanovic  Atlanta Hawks  18000000.0
Bogdan Bogdanovic  Atlanta Hawks  18000000.0
Bogdan Bogdanovic  Atlanta Hawks  18000000.0
Bogdan Bogdanovic  Atlanta Hawks  18000000.0
Brandon Goodwin    Atlanta Hawks   1701593.0

In [206]:
#Read in Basketball CSV

basketball_df = pd.read_csv("./basketball_master.csv")

basketball_df.head()

,bioID,useFirst,firstName,middleName,lastName,nameGiven,fullGivenName,nameSuffix,nameNick,pos,...,birthDate,birthCity,birthState,birthCountry,highSchool,hsCity,hsState,hsCountry,deathDate,race
0,abdelal01,Alaa,Alaa,NaN,Abdelnaby,NaN,NaN,NaN,NaN,F-C,...,1968-06-24,Cairo,NaN,EGY,Bloomfield Senior,Bloomfield,NJ,USA,0000-00-00,B
1,abdulka01,Kareem,Kareem,NaN,Abdul-Jabbar,NaN,"Ferdinand Lewis Alcindor, Jr.",NaN,"Lew, Cap",C,...,1947-04-16,New York,NY,USA,Power Memorial,New York,NY,USA,0000-00-00,B
2,abdulma01,Mahdi,Mahdi,NaN,Abdul-Rahman,NaN,"Walter Raphael Hazzard, Jr.",NaN,Walt,G,...,1942-04-15,Wilmington,DE,USA,Overbrook / Moton,Philadelphia / Easton,PA / MD,USA,2011-11-18,B
3,abdulma02,Mahmoud,Mahmoud,NaN,Abdul-Rauf,NaN,Chris Wayne Jackson,NaN,NaN,G,...,1969-03-09,Gulfport,MS,USA,Gulfport,Gulfport,MS,USA,0000-00-00,B
4,abdulta01,Tariq,Tariq,NaN,Abdul-Wahad,NaN,Olivier Michael Saint-Jean,NaN,NaN,G-F,...,1974-11-03,Maisons Alfort,NaN,FRA,Lycee Aristide Briand,Evreux,NaN,FRA,0000-00-00,B

In [207]:
# Create a filtered dataframe from specific columns
bbl_cols = ["firstName", "lastName", "fullGivenName", "pos"]
bbl_transformed= basketball_df[bbl_cols].copy()

# Rename the column headers
bbl_transformed = bbl_transformed.rename(columns={"firstName": "first_name",
                                                  "lastName": "last_name",
                                                  "fullGivenName": "full_name",
                                                  "pos": "pos"})

#Clean the data by dropping duplicates and setting the index
#bbl_transformed.drop_duplicates("bioID", inplace=True)
#bbl_transformed.set_index("bioID", inplace=True)

bbl_transformed.head()

  first_name     last_name                      full_name  pos
0       Alaa     Abdelnaby                            NaN  F-C
1     Kareem  Abdul-Jabbar  Ferdinand Lewis Alcindor, Jr.    C
2      Mahdi  Abdul-Rahman    Walter Raphael Hazzard, Jr.    G
3    Mahmoud    Abdul-Rauf            Chris Wayne Jackson    G
4      Tariq   Abdul-Wahad     Olivier Michael Saint-Jean  G-F

In [208]:
engine = create_engine(f'postgresql://postgres:Rereretard1641$@localhost:5432/basketball_db')

In [209]:
engine.table_names()

<ipython-input-209-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['draft', 'salary', 'player', 'Player_bak']

In [210]:
draft_transformed.to_sql(name='draft', con=engine, if_exists='append', index=False)

In [211]:
salary_transformed.to_sql(name='salary', con=engine, if_exists='append', index=False)

In [212]:
bbl_transformed.to_sql(name='player', con=engine, if_exists='append', index=False)

In [213]:
draft_transformed

      draft_year  pick_overall         full_name
0         2020.0           1.0   Anthony Edwards
1         2020.0           2.0     James Wiseman
2         2020.0           3.0       LaMelo Ball
3         2020.0           4.0  Patrick Williams
4         2020.0           5.0       Isaac Okoro
...          ...           ...               ...
7885      1949.0           6.0   Ron Livingstone
7886      1949.0           7.0      Dick McGuire
7887      1949.0           8.0     Wallace Jones
7888      1949.0           9.0       Jack Kerris
7889      1949.0          10.0        Frank Saul

[7890 rows x 3 columns]